{% extends "layout.html" %}

{% block title %}
   Change password
{% endblock %}

{% block main %}
    <form action="/changepw" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="old_password" name="old_password" placeholder="Old password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="set_new_password" name="set_new_password" placeholder="Set new password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation_new_password" name="confirmation_new_password" placeholder="Confirm new password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change password</button>
    </form>
{% endblock %}
